<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subdirectory Index</title>
</head>

<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header bg-success">
                <h1 class="text-center text-white fw-bold">Subdirectory Index</h1>
            </div>
            <div class="card-body">
                <div class="card-title fw-bold"><h3>Subdirectory Index</h3></div>
                <hr />
                <div class="card-text">
                    <p>This is the index page in the /subdir/ directory.</p>
                    <p>It is used to demonstrate how to create a subdirectory in the views directory and render a page from it.</p>
                    <p>It is also used to demonstrate how to create a route that renders a page from a subdirectory in the views directory.</p>
                </div>
            </div>
            <div class="card-footer bg-success">
                <h4 class="text-center text-white">Enjoy your code with Node.js v22.2.0</h4>
            </div>
        </div>
    </div>
    <h1></h1>
</body>

</html>